{% extends 'base.html' %}

{% block title %}Password Reset Sent - TMDB Social Network{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Password Reset Sent</h3>
            </div>
            <div class="card-body text-center">
                <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <hr>
                <p>Need help? <a href="{% url 'login' %}">Return to login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 